@media screen and (min-device-height:768px) {
    .gallery_img{
    height:240px;
    
    }
    h4{
        font-size:18px;
    }
}


    
h4{
        font-size:10px;
    }
    

.row{
     display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
h2{
    text-align:center;
}
.foot_li{
display:inline-block;
    clear:none;
    margin:10px;
    border: 1px solid lightblue;
    padding:5px;
    border-radius:3px;
}
.imgbutton{
float:left;
color:white;
width:70%;
height:auto;
position:relative;
margin-left:auto;
margin-right:auto;
}
.center_img{
width:50%;
margin:0 auto;
display:block
}
.button_text {
color:white;
font-size:15px;
vertical-align:middle;
}
h5.scroll_heritage {
color:gold;
}


#wrap{
min-height:100%;
margin:0px;
    
}
#main {
overflow:auto;
width:100%;
/*padding-bottom:100px;*/
height:auto;
/*min-height:500px;*/
}
h2#indextext {
position:relative;
display:block;
max-width:100%;
font-family:Comic sans;
color:gold;
vertical-align:top;
font-size:30px;
}
p {
display:block;
position:relative;
font-family:Comic;
color:white;
background:rgba(0,0,0,.7);
top:0px;
}

#headline_img{
    overflow-x:hidden;
    object-fit: cover;
}
.gallery_img{
/*    overflow-x:hidden;*/
    object-fit: cover;
  max-height:240px;
    
    width:auto;
}

html {

-webkit-background-size:cover;
background-size: cover;
background-color:rgba(0,0,0,0.7);
/*    position:relative;*/
}
.header_cont {
background-color: #014478;
position:relative;
left:0px;
top:0px;
width:100%;
height:94px;

}

#headline_photo{
 cursor:pointer;   
}

  .prod_photo{
  max-width:50%;
  height:auto;
  float: right;
  position:relative;
  display:block;
  box-sizing:border-box;
  
  }
.prod_photo_ind{
  width:80%;
  height:auto;
  float: right;
  position:relative;
  display:block;
  
  
  }




 #showcase {
 position:relative;
     display:inline-block;
/*  width: 190px;*/
/*  max-height: 600px;*/
/*margin:5;*/
/*  left: 0px;*/
/*  border:5px solid grey;*/
overflow-y: auto;
 background-color:white;
 z-index:1;
     float:left;
     overflow:scroll;
     padding:2px;
  }

a{
text-decoration:none;
}
.showcase_img {

 display:block;
/* max-width: 170px;*/
 height:auto;
  overflow: hidden;
/*  margin: 5px 5px 5px 5px;*/
   opacity:0.8;
   position:relative;
  }
  .showcase_img:hover{
  display:block;
/*      height:300px;*/
/*      width:300px;*/
/* max-width: 170px;*/
/* height:120%;*/
/*  overflow: hidden;*/
/*  float: both;*/
/*  margin: 5px 5px 5px 5px;*/
  opacity:1.0;
  }
 
  

  
  
  
  h3{
    max-width:100%;
    text-align:center;
  }
  
 
  
  

#navbar_cont {
background-color: #014478;
position:relative;
left:0;
top:0;
width:100%;
min-height:36px;
z-index:1;
}
