 </div>
 <!--footer -->
 
  </div>
  <footer>
  <div class="row well" style="margin:0px 20px;text-align:center; padding:5px;">
 <ul class="list-unstyled" style="text-align:center">
 <li class="foot_li"> <a href="/index"> Home </a> </li> 
 <li class="foot_li"> <a href="/gallery"> Gallery </a> </li> 
 <li  class="foot_li"> <a href="/heritage" > Heritage Programs </a> </li>
 <li  class="foot_li"> <a href="/aboutUs" > About Us </a> </li>
 <li  class="foot_li"> <a href="/contactUs" > Contact Us </a> </li>
 <h5> Copyright 2015 Left Hand Design Corporation. All Rights Reserved </h5>
      </ul>
 </div>
  
<!-- Include the jQuery library -->

</footer>
  
  
</body>

</html>