 </div>
 <!--footer -->
 
  </div>
  
  <div class="footer">
 
 <span class="span_footer" > <a href="index.html" style="color:gold"> Home </a> </span> 
 <span class="span_footer"> <a href="heritage.html" style="color:gold"> Heritage Programs </a> </span>
 <span class="span_footer"> <a href="aboutUs.html" style="color:gold"> About Us </a> </span>
 <span class="span_footer"> <a href="contactUs.html" style="color:gold"> Contact Us </a> </span>
 <br> </br>
 <span> Copyright 2015 Left Hand Design Corporation. All Rights Reserved <span>
 </div>
  
<!-- Include the jQuery library -->
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="js/scripts.js"></script>

  
  
</body>

</html>