
<% include _header %>
<!--
    <div id="scroll_text_FSM" class="marquee"   >

Employee-owned, small business interest Left Hand Design Corporation has been designing and manufacturing high quality precision pointing instruments for over 20 years. 

</div>
-->




<div class="well col-xs-6" style="padding-left:0px">
<ul style="list-style-type:disc" >
	<li> LHDC was formed in 1993 by four engineers who had worked for eight to ten years previously at Ball Aerospace </li>
	<li>Production Floor Capabilities:</li>
		<ul style="list-style-type:circle">
			<li> Clean room certified to Class 10,000 FED STD 209E </li>
			<li> ESD program and process certified to ANSI/ESD S20.20 </li>
			<li> Class 3 IPC-A-610E (High Performance) Servo Control Electronics Board Population/Rework </li>
			<li> 50 years in-house experience flight assembly </li>
		</ul>
	<li> LHDC has good working relationships with outside labs to perform some environmental testing and surface figure accuracy testing </li>
	<li> LHDC is fabricating recently developed technology for today's competitive environment </li>
	<li> LHDC uses every new contract and opportunity to develop internal knowledge further </li>

</ul>

</div>

<div class="col-xs-6">
<div class=" container col-xs-6">
<img class="fac_img" src="img/jim_lab_port.jpg" width="100%" />
    </div>
    <div class=" container col-xs-6">
<img class="fac_img" src="img/electronics 2.jpg" style="float:left"width="100%" />
        </div>
    <div class=" container col-xs-12">
<img class="fac_img" src="./img/LHDC front.JPG" width="100%"  />
<h2> <span>LHDC's new Longmont facility </span></h2>
    </div>
</div>

<% include _footer %>