<% include _header %>
<!--
    <div id="scroll_text_FSM" class="marquee"   >

Custom, High-efficiency Electromagnetic Actuators  

</div>
-->



<div class="prod_photo">
<img class="prod_img" src="img/actuator 1.jpg" />
 <h4 class="prodtext"> <span style="color:gold">CS Actuator - CS-5-5-50-CC </span></h4> 
</div>
<div class="prod_bullet">
<ul style="list-style-type:disc" >
	<li>Electromagnetic Actuators are non-contacting linear actuators</li>
		<ul style="list-style-type:circle">
			<li> Hysteresis-Free </li>
			<li> Friction-Free </li>
			<li> Single Axis motion </li>
			<li> Based on voice coil principle </li>
			<li> Force/Mass ratio to 100 NT/kg </li>
			<li> Completely Optimizable for your application </li>
			
		</ul>
	<li>3 Types of Actuators </li>
	<ul>
		<li> CS Actuator has high efficiency and low cost </li>
		<li> EC Actuator is compact with large travel </li>
		<li> LD Actuator has 4 to 8 actuators in parallel </li>
	</ul>
</ul>
</div>

<% include _footer %>