<% include _header %>
<!--
    <div id="scroll_text_FSM" class="marquee"   >

Custom High Efficiency Active Magnet Isolation Systems  

</div>
-->




<div class="well col-xs-6" style="padding-left:0px">
<ul style="list-style-type:disc" >
	<li> Driven by CS actuators, which are a non-contacting suspension </li>
	<li> 6 actuators located near radius of gyration to minimize excitation of structural bending modes </li>
	<li> 6 degrees of control </li>
	<li> Rejection of base motion below 1 Hz </li>
	<li> Effective frequency rejection above 100 Hz </li>
	<li> Ideal for:</li>
		<ul style="list-style-type:circle">
			<li> Optical bench disturbance rejection </li>
			<li> Imaging instruments on deep space, earth orbiting and airborne platforms </li>
			<li> Remote sensing </li>
		</ul>
</ul>
</div>
<div class="col-xs-6">
<img width="100%" src="img/IS5-40.jpg" />
 <h4> Active Isolation System - IS5-40 </h4> 
</div>
<% include _footer %>