<% include _header %>
<!--
    <div id="scroll_text_FSM" class="marquee"   >
 
Space-Flight Qualified Servo Control Electronics are produced in-house at LHDC 
</div>
-->
 

<div class="well col-xs-6" style="padding-left:0px">
<ul style="list-style-type:disc" >
	<li>Servo Control Electronics send acceleration and position commands to FSM</li>
		<ul style="list-style-type:circle">
			<li> Space-Flight Qualified design is available </li>
			<li> Laboratory models are available at reduced cost </li>
			<li> Technicians performing board population are IPC J-STD certified </li>
		</ul>
</ul>
</div>
<div class="col-xs-6">

<img width="100%" src="img/SC03 2.jpg" />
<h4> Servo Control Electronics - SC03-BD </h4>

</div>


 <% include _footer %>
