<% include _header %>
<!--
    <div id="scroll_text_FSM" class="marquee"   >

Custom and cost-effective models are available to meet a broad range of requirements  

</div>
-->
 




<div class="prod_bullet">
<ul style="list-style-type:disc" >
	<li>Fine Steering Mechanisms are two-axis, tip-tilt pointing devices used to perform line of sight stabilization:</li>
		<ul style="list-style-type:circle">
			<li> Correct atmospheric turbulence </li>
			<li> Correct vehicle base/optical element motion </li>
			<li> Correct friction induced pointing errors </li>
			<li> Perform scanning function </li>
			<li> Perform chopping function </li>
			<li> Perform dither function </li>
			<li> Slew and stare </li>
		</ul>
	<li> Electromagnetic Actuators and flexure suspensions used to solves hysteresis and friction-induced error problems encountered with other systems </li>
	<li> Servo Control Bandwidth can exceed 10 kHz </li>
	<li> Range of travel up to +/- 175 mRad are currently available </li>
	<li> 15,000 rad/sec^2 acceleration available </li>
</ul>
<div class="imgbutton" >
<a href="heritage.html">
<img src="img/15-056.jpg" class="center_img" width="300px" height="auto" />
<span class="button_text"> FSM Heritage Missions </span> 
<span class="cr"> NASA </span>
</a>
</div>
</div>
    <div class="prod_photo">
<img class="prod_img" src="img/mirror_best.jpg" style="width:100%" />
<h4 class="prodtext"> <span style="width:100%">Fine Steering Mirror - FO50-35-RC </span></h4>
</div>
<!--<div class="prod_photo" >
<img class="prod_img" src="css/img/SN139_2.jpg" />
<h4 class="prodtext"> <span>Fine Steering Mirror - FO100-170-AL </span></h4>
</div>-->
<!--<div class="video"  >
<span class="vid_text" width="30%">
LHDC FSM performing various slewing and scanning functions as a brief demo
</span>
<video id="Mirror_demo_vid" width="480" height="360" style="float:right" preload controls muted >
	<source src="css/vid/SN021 Demo Video.mp4.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'  />
</video>
</div>-->
<% include _footer %>
