<%include _header %>
 
<h1 style="text-align:center">
  Heritage Programs
</h1>
<div class="container col-md-12"  width="100%" >

<p><h5 > MDA OSIRIS-REX mission FSM Delivered (4/21/15)</h5> </p>
<div class="well"> Mission to orbit asteroid, obtain sample from surface of asteroid detailing composition, and
 return surface sample to Earth. This mission requires the use of a LHDC FSM to scan the surface using LIDAR
 to find a suitable touch-down point. <br> </br>
<a href=http://www.asteroidmission.org/> OSIRIS-REX</a> 
</div>
<h5> BRRISON Balloon Mission to study Comet ISON </h5>
<div class="well"> LHDC mirror provides high pointing stability in mirror-borne balloon photographing of comet
<br> </br>
<a href=http://www.space.com/20837-comet-ison-balloon-mission.html> BRRISON </a>
</div>
<h5 > XSS-11 </h5>
<div class="well"> Three FO50-175-AL Fine Steering Mirrors successfully flown in low-earth orbit (LEO) as part of the imaging LADAR system on the US Air Force's XSS-11 rendezvous and proximity operations mission. These FSM successfully operated thoughout the more than 18 month mission duration.
<br> </br>
<a href=http://www.kirtland.af.mil/shared/media/document/AFD-070404-108.pdf> XSS-11 </a>
</div>
<h5 > Black Brant - Sounding Rocket </h5>
<div class="well"> The FO75-35-BE-RC was qualified for launch on the Black Brant sounding rocket as part of a 2002 Phase II SBIR program LHDC conducted in conjunction with NRL. The Black Brant random vibration (30g RMS) and shock (100g 11msec half-sine) spectra are harsher than any known launch vehicle.
<br> </br>
<!--<a href=http://www.kirtland.af.mil/shared/media/document/AFD-070404-108.pdf> XSS-11 </a>-->
</div>
<!-- </h2> -->
</div>
<!-- Maybe a showcase here isn't a bad idea, with some photos representing the missions that we've done, with little text boxes that pop up when clicked or mouse-overed describing the date, mission, what FSM, etc"-->

<% include _footer %>