<% include _header %>



<div id="full_ind">
    
 <div id="showcase" data-cycle-fx=carousel data-cycle-timeout=1000  >
 <div class="showcase_img">
 
 <a href="FSM">
 
 <img src="img/FO15-61-BE-EA-MF SN150 high-res.jpg" width="100%" height= "160" />
 <h4 class="scitext"> <span>Fine Steering Mirrors </span></h4>
 </a>
 </div>
 <div class="showcase_img">
 <a href="AMISO">
 <img src="img/isolation_system.jpg" width="100%" height= "160" />
 <h4 class="scitext"> <span>Isolation Systems</span> </h4>
 </a>
 </div>
 <div class="showcase_img">
 <a href="Actuators">
 <img src="img/CS5-5-50-CC Coil-potted.JPG" width="100%" height= "160" />
 <h4 class="scitext"> <span>Electromagnetic Actuators</span> </h4>
 </a>
 </div>
 <div class="showcase_img">
 <a href="elex">
 <img src="img/SC05-BD-2 Ed Init.JPG" width="100%" height= "160" />
 <h4 class="scitext"> <span>Servo Control Electronics</span> </h4>
 </a>
 </div>
 <div class="showcase_img">
 <a href="aboutUs">
 <img src="img/LHDC front.JPG" width="100%" height= "160" />
 <h4 class="scitext"> <span>About Us</span> </h4>
 </a>
 </div>
 <div class="showcase_img">
 <a href="contactUs">
 <img src="img/mirrorSmall.JPG" width="100%" height= "160" />
 <h4 class="scitext"> <span>Contact Us</span> </h4>
 </a>
 </div>

 </div>
   
<div class="prod_photo_ind" width=100%>
    <img class="prod_img_ind" src="img/SN139_2.jpg" width=100% height="auto"  />
        </div>
  
    
    
    </div>
   <% include _footer %>