<% include _header %>



<!--<div id="full_ind container-fluid">-->
    
 <div id="showcase" class="col-xs-3" data-cycle-fx=carousel data-cycle-timeout=1000 height="100%"  >
 <div class="showcase_img container-fluid" style="padding:0px;margin:0px">
 
 <a href="FSM/general">
 
 <img class="container col-xs-12" src="img/FO15-61-BE-EA-MF_SN150.jpg"  style="margin:0px;padding:0px" />
 <h4 class="scitext"> <span>Fine Steering Mirrors </span></h4>
 </a>
 </div>
 <div  class="showcase_img container-fluid" style="padding:0px">
 <a href="AMISO">
 <img class="container col-xs-12" src="img/IS5-40.jpg" style="margin:0px;padding:0px" />
 <h4 class="scitext"> <span>Isolation Systems</span> </h4>
 </a>
 </div>
 <div  class="showcase_img container-fluid" style="padding:0px">
 <a href="Actuators">
 <img class="container col-xs-12" src="img/CS5-5-50-CC Coil-potted.JPG" style="margin:0px;padding:0px" />
 <h4 class="scitext"> <span>Electromagnetic Actuators</span> </h4>
 </a>
 </div>
 <div  class="showcase_img container-fluid" style="padding:0px">
 <a href="elex">
 <img class="container col-xs-12" src="img/SC05-BD-2 Ed Init.JPG" style="margin:0px;padding:0px"/>
 <h4 class="scitext"> <span>Servo Control Electronics</span> </h4>
 </a>
 </div>
 <div  class="showcase_img container-fluid" style="padding:0px">
 <a href="aboutUs">
 <img class="container col-xs-12" src="img/LHDC front.JPG" style="margin:0px;padding:0px"/>
 <h4 class="scitext"> <span>About Us</span> </h4>
 </a>
 </div>
 <div  class="showcase_img container-fluid" style="padding:0px">
 <a href="contactUs">
 <img class="container col-xs-12" src="./img/mirrorSmall.jpg" style="margin:0px;padding:0px" />
 <h4 class="scitext"> <span>Contact Us</span> </h4>
 </a>
 </div>

 </div>
   
<div id="headline_photo" class="prod_photo_ind well col-xs-9" >
    <a id="headline_link" href = "/photo/Product Family.jpg">
    <img id="headline_img" class="container col-xs-12" src="img/Product Family.jpg" width="auto"/>
    <h4 id = "headline_text" style="text-align:center">LHDC's Product Family</h4></a>
        </div>
  
    
    
<!--    </div>-->
   <% include _footer %>