<% include _header %>

<div class="container col-xs-12">
    <img src = "/img/<%= photoId %>" style="-webkit-user-select:none;" width="100%"/>
<h2 style="text-align:center"><%= photoId.replace(/.jpg/g, "").replace(/_SN.../g,"")  %></h2></a>
</div>



<% include _footer %>