/*body {
background: url , no-repeat;
background-position: center center, 20% 80%, top left, bottom right;
background-origin: border-box, content-box;
} */

html,body  {

min-width:100%;
height:100%;

}
html{

}
 body {
 margin:0px;
} 
div{
display:block;
}
.imgbutton{
float:left;
color:white;
width:70%;
height:auto;
position:relative;
margin-left:auto;
margin-right:auto;
}
.center_img{
width:50%;
margin:0 auto;
display:block
}
.button_text {
color:white;
font-size:15px;
vertical-align:middle;
}
h5.scroll_heritage {
color:gold;
}


#wrap{
min-height:100%;
margin:0px;
    
}
#main {
overflow:auto;
width:100%;
padding-bottom:100px;
height:auto;
min-height:500px;
}
h2#indextext {
position:relative;
display:block;
max-width:100%;
font-family:Comic sans;
color:gold;
vertical-align:top;
font-size:30px;
}
p {
display:block;
position:relative;
font-family:Comic;
color:white;
background:rgba(0,0,0,.7);
top:0px;
}


html {

/*background:url('img/SN139_2.jpg') center repeat;*/
-webkit-background-size:cover;
background-size: cover;
background-color:#a8b1bf;
}
.header_cont {
background-color: #014478;
position:relative;
left:0px;
top:0px;
width:100%;
height:94px;

}


  #scroll_text{
   position:relative;
  display: block;
   max-width:25%;
   height:auto;
   float:left;
   text-align:left;
  font-family:Comic Sans ;
  font-size:50px;
  color: black;
  background:rgba(0,0,0,.7);
  border: 5 5 5 0;
 margin:0;
 text-align:center;
 height:auto;
  }
   #scroll_text_center{
   position:relative;
  display: block;
   max-width:50%;
   height:auto;
   text-align:left;
  font-family:Comic Sans ;
  font-size:50px;
  color: gold;
  background:rgba(0,0,0,.7);
  border: 5 5 5 0;
 margin:1em auto;
 text-align:center;
 height:auto;
  }
  #scroll_text_FSM{
   position:relative;
  display: block;
   max-width:50%;
   height:auto;
   float:left;
  font-family:Comic;
  font-size:40px;
  color: black;
  border: 5 5 5 0;
 margin:0.5em auto;
 font-family:Comic;
 text-align:center;
 top:0px;
 color:gold;
 background:rgba(0,0,0,0.7);
 
  }
  
  #scroll_text_heritage{
   position:relative;
  display: block;
   max-width:50%;
   max-height:500px;
	left:auto;
  font-family:Comic;
  font-size:40px;
  color: black;
  border: 5 5 5 0;
 margin:1em auto;
 font-family:Comic;
 text-align:center;
overflow:scroll;
 color:white;
 background:rgba(1,68,120,0.7);
 
 }
#headline_photo{
  width:50%;
  height:auto;
  float: left;
  position:relative;
  display:block;
  }
  .footer {
  width:100%;
  margin-top:-100px;
  height: 100px;
   background:rgba(0,0,0,0.7);
   color:gold;
   font-size:15px;

 bottom:0px;
 text-align:center;

  }
  .span_footer{
  border-width:1px;
  border-left-style:solid;
  border-bottom-style:solid;
  margin:3px 3px 3px 3px;
  }
  .prod_photo{
  width:50%;
  height:auto;
  float: right;
  position:relative;
  display:block;
  box-sizing:border-box;
  
  }
.prod_photo_ind{
  width:50%;
  height:auto;
  float: right;
  position:relative;
  display:block;
  box-sizing:border-box;
    margin:5px;
    bottom:0px;
  
  }
<<<<<<< HEAD
  .vid_text{
  position:absolute;
  font-size:2em;
  color:white;
  width:30%;
  display:block;
  left:0%;
  top:0%;
  text-align:left;
  }
  .video{
  float:left;
  background:rgba(0,0,0,0.7);
  width:50%;
  height:auto;
  text-align:right;
  margin:0px;
  position:relative;
  box-sizing:border-box;
  }
   .fac_img{
  float:right;
  height:auto;
  position:relative;
  display:block;
  padding:5px;
  box-sizing:border-box;
  }
=======
  
>>>>>>> 8a5ad31f91a628c5e72c0a8f428b6c606807e8db
  .prod_img_ind {
  max-width:100%;
  height:auto;
  }
<<<<<<< HEAD
=======
  
>>>>>>> 8a5ad31f91a628c5e72c0a8f428b6c606807e8db
  h4.prodtext{
position:absolute;
font-size: 40px;
text-align:left;
bottom:0px;
width:100%;
}
.prod_bullet{
left:0;
font-size:1.5em;
color:white;
font-family:comic;
width:50%;
height:auto;
display:block;
float:left;
background: rgba(0,0,0,0.7);
box-sizing:border-box;
}
.button_text{
position:absolute;
font-size: 15px;
text-align:center;
bottom:80%;
width:100%;
display:block;
}
.cr{
position:absolute;
font-size: 10px;
text-align:center;
bottom:0;

width:100%;
display:block;
color:white;
}
#full_ind{
 width:100%;
    position:relative;
    height:700px;
}
 #showcase {
 position:relative;
     display:inline-block;
  width: 190px;
  max-height: 100%;
margin:5;
  left: 0px;
  border:5px solid black;
overflow-y: auto;
 background-color:black;
 z-index:1;
     float:left;
  }
  h4.scitext{
position:relative;
text-align:center;
bottom:0px;
width:100%;
margin:0px;
}
h4 span{
color:white;
font-family:comic;
font-size:1em ;
background: rgba(0,0,0,0.7);
z-index:1;
}
.showcase_img {

 display:block;
 max-width: 170px;
 height:auto;
  overflow: hidden;
  margin: 5px 5px 5px 5px;
   opacity:0.8;
   position:relative;
  }
  .showcase_img:hover{
  display:block;
 max-width: 170px;
 height:auto;
  overflow: hidden;
  float: both;
  margin: 5px 5px 5px 5px;
  opacity:1.0;
  }
  h3.contact_bar {
  display:block;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  margin-top:0px;
  }
  

  
  
  
  h3{
    max-width:100%;
    text-align:center;
  }
  
 
  
  

#navbar_cont {
background-color: #272727;
position:relative;
left:0;
top:0;
width:100%;
min-height:36px;
z-index:1;

}

#navbar {
z-index:0;
float:right;
}

ul.topnav {

	list-style: none;
	padding: 0 20px;
	margin: 0;
	left:0px;
	float: right;
	width: 100%;
	background: #222;
	font-size: 1.2em;
	background: url(img/topnav_bg.gif) repeat-x;
	z-index:0;
	white-space:normal;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(img/topnav_hover.gif) no-repeat center top;
	
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(img/subnav_btn.gif) no-repeat center top;
	
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
	
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
	
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(img/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
	
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(img/dropdown_linkbg.gif) no-repeat 10px center;
	
}
